.container {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titlepage span {
    font-size: 15px;
}

.car_box {
    text-align: center;
    height: 300px;
    /* Fixed height for the box */
}

.car_box figure {
    margin: 0;
    height: 150px;
    /* Fixed height for the image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.car_box figure img {
    max-width: 100%;
    max-height: 100%;
}

.car_box h3 {
    color: #0c0c0e;
    background-color: #ffffff;
    font-size: 24px;
    /* Reduce font size to fit within the fixed height */
    line-height: 1.2;
    margin-top: 20px;
    height: 84px;
    /* Fixed height for the title */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group {
    display: flex;
    /* Add flex display */
    justify-content: center;
    /* Center items horizontally */
    margin-top: -25px;
    /* Align button group to the bottom */
}

.details-link,
.rent-now-button {
    font-size: 14px;
    /* Reduce font size for buttons */
    padding: 8px 16px;
    /* Adjust button padding */
    margin: 0 5px;
    /* Add margin between buttons */
    background-color: #f6d601;
    /* Yellow background color */
    color: #000;
    /* Black text color */
    border: 2px solid #f6d601;
    /* Yellow border */
    border-radius: 30px;
    /* Rounded border */
    transition: ease-in all 0.5s;
    /* Smooth transition */
}

.details-link:hover,
.rent-now-button:hover {
    background-color: #ffdb4d;
    /* Lighter yellow on hover */
    color: #000;
    /* Black text color on hover */
    transition: ease-in all 0.5s;
    /* Smooth transition */
}

.car-column {
    border: 2px solid #ffffff77;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.car-column:last-child {
    margin-right: 0;
}