/** car section **/

.car {
    background: #fff;
    margin-top: 90px;
}

.car .titlepage h2 {
    color: #030100;
    margin-bottom: 20px;
}

.car .titlepage span {
    color: #23262d;
    font-size: 17px;
    line-height: 28px;
}

.padding_leri {
    padding-right: 0;
    padding-left: 0;
}

.car_box {
    text-align: center;
}

.car_box figure {
    margin: 0;
}

.car_box figure img {
    width: 100%;
}

.car_box h3 {
    color: #0c0c0e;
    background-color: #ffffff;
    font-size: 30px;
    line-height: 28px;
    height: 84px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 0;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Added margin for separation */
}

.details-link,
.rent-now-button {
    flex: 1;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    color: #f6d601;
    text-decoration: none;
    border: 2px solid #f6d601;
    border-radius: 30px;
    padding: 10px 20px;
    transition: ease-in all 0.5s;
}

.details-link:hover,
.rent-now-button:hover {
    color: #000;
    background-color: #f6d601;
}
.car-column {
    border: 2px solid #8b8b8b77; /* Add border around the car column */
    border-radius: 20px;
    padding: 20px; /* Add padding to create space between the frame and car items */
}

