<section class="car-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>VARIETY OF CARS</h2>
                    <span>Explore our diverse range of cars, each designed to elevate your driving
                        experience.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let car of cars">
                <ul class="car-column">
                    <li class="car-item">
                        <div class="car_box">
                            <figure><img src="{{car.imageUrl}}" alt="#" /></figure>
                            <h3>{{car.carName}}</h3>
                        </div>
                        <div class="button-group">
                            <a [routerLink]="car._id" class="details-link">Details</a>
                            <a href="/cars/:carId/rent" class="rent-now-button">Rent Now</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>