<!-- banner -->
<section class="banner_main">
    <div class="container">
        <div class="row d_flex">
            <div class="col-md-12">
                <div class="text-bg">
                    <h1>Find best car Here For rent</h1>
                    <strong>Explore Our Wide Selection</strong>
                    <span>of Cars for Rent</span>
                    <p>
                        Discover the perfect vehicle for your needs. Whether you're seeking luxury, performance, or
                        versatility, we have a car to suit every preference.

                        <head></head>
                    </p>
                    <a href="/topics">Topics</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end banner -->