<section class="about-section">
    <div class="container">
        <h2>Our Company</h2>
        <p>Welcome to Rento, your premier destination for hassle-free car rentals. With a passion for customer
            satisfaction, we offer a wide range of high-quality vehicles at competitive prices. Whether it's a weekend
            getaway or a business trip, we've got the perfect ride for you. Our easy booking process and flexible rental
            options ensure convenience every step of the way. Experience the freedom of the open road with Rento. Rent
            with us today and start exploring on your terms.</p>
    </div>
</section>

<section class="team-section">
    <div class="container">
        <h2>Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="https://cdn.shopify.com/s/files/1/0070/7032/files/Blog_CTA_Adrian_ART_large.png?format=jpg&quality=90&v=1532117915"
                    alt="John Doe">
                <h3>John Doe</h3>
                <p>Founder & CEO</p>
            </div>

            <div class="team-member">
                <img
                    src="https://marvel-b1-cdn.bc0a.com/f00000000091204/www.nice.com/-/media/niceincontact/page-content/blog/authors/t/tyler-butterfield-2.ashx?rev=9018b3fdaea44263a17de5aab4906201&h=386&w=386&la=en&hash=4478CCA5E8D78177CF6B591A0A65FAAF">
                <h3>Michael Johnson</h3>
                <p>Customer Experience Manager</p>
            </div>
            <div class="team-member">
                <img src="https://media.licdn.com/dms/image/C5603AQHFIAD8AybPlw/profile-displayphoto-shrink_400_400/0/1517559368351?e=2147483647&v=beta&t=Vy5gnblJt4NUss_LEmljKwm33KzFf-o4qllytcZBl8g"
                    alt="Emily Brown">
                <h3>Emily Brown</h3>
                <p>Marketing Director</p>
            </div>

        </div>
    </div>
</section>

<section class="mission-section">
    <div class="container">
        <h2>Our Mission</h2>
        <p>At our core, we envision a seamless journey for every traveler. Our mission is to provide not just cars, but
            a gateway to unforgettable adventures. With a commitment to excellence, we aim to enhance mobility, empower
            exploration, and enrich lives through exceptional rental experiences. We're dedicated to setting new
            standards in convenience, reliability, and customer care, ensuring that every mile traveled with us is a
            testament to our passion for facilitating seamless journeys.</p>
    </div>
</section>