<section class="car-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="car-image">
                    <img src="{{car.imageUrl}}" alt="Car Image">
                </div>
            </div>
            <div class="col-md-6">
                <div class="car-info">
                    <h2>{{car.carName}}</h2>
                    <p>Model: {{car.carModel}}</p>
                    <p>Color: {{car.color}}</p>
                    <p>Year: {{car.year}}</p>
                    <p>Engine: {{car.engine}}</p>
                    <p>Fuel Type: {{car.fuel}}</p>
                    <p>{{car.description}}</p>
                    <!-- Add more details as needed -->
                    <a href="#" class="rent-now-button">Rent Now</a>
                </div>
            </div>
        </div>
    </div>
</section>