<div class="profile-container">
    <section class="profile-info">
        <div class="profile-picture">
            <img src="https://t4.ftcdn.net/jpg/03/30/69/37/360_F_330693718_n8wvEcQWwBs5cxGaYUd4uLpX0mo7WUOA.jpg" alt="Profile Picture">
        </div>
        <div class="user-details">
            <h2>John Doe</h2>
            <p>Email: johndoe@example.com</p>
            <p>Username: johndoe@example.com</p>
            <p>Phone: johndoe@example.com</p>
            <div class="buttons">
                <button class="edit">Edit</button>
            </div>
            <div class="edit-fields">
                <!-- Editable fields -->
                <label for="edit-email">Email:</label>
                <input type="email" id="edit-email" name="edit-email"><br>
                <label for="edit-username">Username:</label>
                <input type="text" id="edit-username" name="edit-username"><br>
                <label for="edit-phone">Phone:</label>
                <input type="tel" id="edit-phone" name="edit-phone"><br>
                <button>Save</button>
            </div>
        </div>
    </section>
</div>
