/* Styles for topics */

.topic {
    text-align: center;
    margin-bottom: 30px; /* Add space between topics */
}

.topic .car_box {
    border: 2px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius */
    padding: 20px;
}

.topic .car_box figure img {
    width: 100%;
}

.topic .car_box h3 {
    margin-top: 15px; /* Add space between image and heading */
    font-size: 24px;
    color: #333;
}



.topic img {
    max-width: 100%; /* Ensure images don't exceed their container width */
    max-height: 100%; /* Ensure images don't exceed their container height */
    height: auto; /* Maintain aspect ratio */
}

.read-more-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.read-more-link:hover {
    text-decoration: underline;
}


/* End of topic styles */
